{% extends "layout.html.twig" %} {% block body %}


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            {% if membre.avatar %}
            <img src="{{ asset('forum/PlatformBundle/public/uploads/avatars/' ~ membre.avatar) }}" alt="avatar" class="img-rounded img-responsive" /> {% else %}
            <img class="img-rounded img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjEfzHyALsu7DjWPO37lXdg79xuRmlmgicxbh_cIo7bcp6k09_" alt="avatar"> {% endif %}
          </div>
          <div class="col-sm-6 col-md-8">
            <h4> {{ membre.pseudo }}</h4>
            <small><cite title="{{membre.ville}}"> {{membre.ville}} <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
            <p>
              <i class="glyphicon glyphicon-envelope glyph-profil"></i> {{membre.mail}}
              <br />
              <i class="glyphicon glyphicon-globe glyph-profil"></i>{% if membre.site %} <a href="{{membre.site}}"> {{membre.site}}</a> {%else%}<i> Site web non renseigné </i>{%endif%}
              <br />
              <i class="glyphicon glyphicon-gift glyph-profil"></i> {{membre.anniversaire|date("d/m/Y")}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}